.App {
  font-family: sans-serif;
  text-align: center;
}

body{
  background-color:  #A2E3C4;
  color: #3C493F;
}

table{
  background-color: #F0F7F4;
  margin: auto;
  border-collapse: collapse;
  border-radius: 10%;
  overflow: hidden;
  width: 80%;
}

th, td{
  border-bottom: 0.5em solid #A2E3C4;
  padding: 5px;
}

button{
  border-radius: 13%;
  margin: 5px;
  padding: 5px;
  background-color: #F0F7F4;
}

/* potential color pallets
https://coolors.co/3c493f-7e8d85-b3bfb8-f0f7f4-a2e3c4 -in use
https://coolors.co/c4f1be-a2c3a4-869d96-525b76-201e50
https://coolors.co/c5e6a6-bdd2a6-b9bea5-a7aaa4-9899a6
*/